// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;800&display=swap');

@import "colors";

// Define fonts for body and headers
$header-font: 'Montserrat', sans-serif;
$body-font: 'Montserrat', sans-serif;

// Fonts
$main-font-family: 'Montserrat', sans-serif;

$large-font-size: 1.2rem;
$large-font-weight: 700;

$medium-font-size: 0.9rem;
$medium-font-weight: 700;

$small-font-size: 0.7rem;
$small-font-weight: 400;



.bodyfont {
  color: $dark-blue;
  font-family: $body-font;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
}

.captionfont {
  font-size: 0.6rem;
}

.quote {
  font-style: italic;
}


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
