// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;800&display=swap');

@import 'variables';

p {
  margin: 0;
}

body {
  font-family: $body-font;
  color: $dark-blue;
}

// TODO:CLEANUP FONT STYLING...
.bodyfont {
  font-family: $body-font;
  font-size: $large-font-size;
  font-weight: 400;
  line-height: 1.5;
  color: $dark-blue;
}

.captionfont {
  font-size: 0.6rem;
}

.quote {
  font-style: italic;
}





#mobile-app h1 {
  font-size: $large-font-size;
  font-weight: $thick-font-weight;
  margin: 0;
}

#mobile-app h3 {
  font-size: $medium-font-size;
  font-weight: $medium-font-weight;
  margin: 0;
}

#mobile-app h5 {
  font-size: $small-font-size;
  font-weight: $thin-font-weight;
  margin: 0;
}

#desktop-app h1 {
  font-size: $large-font-size + 0.4rem;
  font-weight: $thick-font-weight;
  margin: 0;
}

#desktop-app h3 {
  font-size: $medium-font-size + 0.2rem;
  font-weight: $medium-font-weight;
  margin: 0;
}

#desktop-app h5 {
  font-size: $small-font-size + 0.2rem;
  font-weight: $thin-font-weight;
  margin: 0;
}
