// COLORS
$dark-blue: #092C6A;
$light-blue-form: #cbedf2;
$lime-green: #50FB00;

//TODO: Background shapes coming-soon page to be deleted when no longer used...
$bs-blue: #e4ebff;
$bs-pink: #fbe4e5;
$bs-yellow: #fdf5ba;



// FONTS
$header-font: 'Montserrat', sans-serif;
$body-font: 'Montserrat', sans-serif;

$large-font-size: 1.2rem;
$medium-font-size: 0.9rem;
$small-font-size: 0.7rem;

$thick-font-weight: 700;
$medium-font-weight: 700;
$thin-font-weight: 400;




// DIMENSIONS
$banner-height: 240px;
$logo-width-small: 140px;
$logo-width-large: 150px;
$title-angle: -4deg;
$mobile-player-height: 76vh;
$mobile-footer-height: 8vh;
$desktop-header-height: 200px;
$desktop-player-height: calc(100vh - 200px);
$desktop-footer-height: 400px;
$progress-circle-height: 45%;




// MARGINS AND PADDINGS
$mg-xxlarge: 140px;
$mg-xlarge: 72px;
$mg-large: 56px;
$mg-medium: 40px;
$mg-small: 32px;
$small-padding: 24px;
