#demo-app {
  height: 100%;
  width: 100%;
}

.app {
  position: absolute;
  top: 0px;

  height: 100%;
  width: 100%;
}

#mobile-app {
  display: flex;
  flex-direction: column;
}

#desktop-app {
  display: flex;
  flex-direction: column;
}
