.logo-button {
  height: 100px;
  width: 100px;

  position: absolute;
  right: 8px;
  bottom: -12%;

  z-index: 5;
}

#desktop-app .logo-button {
  height: 120px;
  width: 120px;

  right: 0px;
  bottom: -10%;

  z-index: 5;
}

#access-code-form .logo-button {
  height: 100px;
  width: 100px;

  position: absolute;
  left: 20px;
  top: -140px;
}

// RESPONSIVE TEMPLATE
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-height: 700px) {
  #access-code-form .logo-button,
  #mobile-app .logo-button {
    height: 120px;
    width: 120px;
  }

  #access-code-form .logo-button {
    top: -180px;

  }
  #mobile-app .logo-button {
    right: 1rem;
    bottom: -12%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // #desktop-app .logo-button {
  //   max-height: 130px;
  // }
}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }
