@import '../../config/variables';

.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullets {
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 3px;

  opacity: 0.4;
  background-color: white;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: $lime-green;
}
