@import '../../config/variables';

.background-shapes-container {
  height: 100%;
  width: 100vw;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  overflow: hidden;
}

#background-shapes-image {
  height: 100%;
  width: 100%;

  background-repeat: repeat-y;
  background-size: 100%;
}



// RESPONSIVE
// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
// }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
// }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }
