<div class="background-shapes-container noselect">
  <div
    id="background-shapes-image"
    data-mobile-src="<%= asset_path 'mobile-background-shapes.svg' %>"
    data-desktop-src="<%= asset_path 'desktop-background-shapes.svg' %>"
  ></div>
</div>


<!-- Decide which src to load in user browser -->
<% content_for :after_js do %>
  <%= javascript_pack_tag "background_shapes_src_selection" %>
<% end %>
