<div id="banner">

  <div class="horizontal-container banner-grid">
    <div class="logo-button-container">
      <%= image_tag("logo-button-1000.png", class: "logo-button noselect") %>
    </div>

    <div class="coming-soon-container">
      <%= image_tag("coming-soon.svg", class: "coming-soon noselect") %>
    </div>

    <div class="contact-us-container">
      <a href="#main" class="contact-us">
        <p>Find out more</p>
        <i class="fas fa-arrow-circle-down"></i>
      </a>
    </div>
  </div>

  <div class="banner-gradient"></div>
</div>

<!-- Scale banner after load to window.innerHeight -->
<% content_for :after_js do %>
  <%= javascript_pack_tag "utils/scale_banner" %>
<% end %>
