#banner .logo-button-container,
#access-code-form .logo-button-container {
  width: 100%;
  position: relative;
  z-index: inherit;
}


#banner .logo-button,
#access-code-form .logo-button {
  height: $logo-width-small;
  width: $logo-width-small;

  position: absolute;
  top: 3rem;
  left: 10%;
  transform: translateX(-5%);
}


#desktop-app .desktop-header .logo-button,
#mobile-app .mobile-header .logo-button {
  height: 90px;
  width: 90px;

  position: absolute;
  bottom: -10%;
  right: 0.7rem;
  z-index: 10;
}



// RESPONSIVE
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Following .horizontal-container rules
@media (min-width: 400px) {
  #desktop-app .desktop-header .logo-button,
  #mobile-app .mobile-header .logo-button {
    right: 1rem;
  }
}


// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
// }

// Larger phones
@media (min-height: 700px) {
  #banner .logo-button,
  #access-code-form .logo-button {
    height: $logo-width-large;
    width: $logo-width-large;
    top: 4rem;
  }

  #desktop-app .desktop-header .logo-button,
  #mobile-app .mobile-header .logo-button {
    height: 120px;
    width: 120px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #banner .logo-button,
  #access-code-form .logo-button {
    left: 20%;
    top: 5rem;
  }

  #desktop-app .desktop-header .logo-button,
  #mobile-app .mobile-header .logo-button {
    right: 3rem;
  }
}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }

// High-end iPads
@media (min-height: 1000px) {
  #banner .logo-button,
  #access-code-form .logo-button {
    top: 6rem;
  }
}
